.inputBox {
  display: flex;
  flex-direction: column;
  gap: 20px;

  > div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.outputBox {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}
